/* line 1, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
body {
  background-color: #fafafa;
  font-family: helvetica;
}

/* line 5, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
ul, ol {
  list-style: none;
}

/* line 8, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
a {
  text-decoration: none;
  font-weight: bold;
}

/* line 13, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
header {
  background-color: #d0d0d0;
  border: 1px black solid;
  width: 800px;
  margin: 0 auto;
  height: 80px;
}
/* line 19, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
header h1 {
  width: 400px;
}
/* line 21, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
header nav {
  width: 300px;
  float: right;
  display: inline;
}

/* line 26, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
#sidebar {
  background-color: white;
  border: 1px black solid;
  width: 200px;
  float: left;
}

/* line 32, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
#maincontent {
  margin: 0 auto 0;
  padding: 10px;
  width: 600px;
  border: 1px black solid;
  background-color: white;
}

/* line 39, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
tr {
  border-bottom: 1px gray solid;
}

/* line 41, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
td {
  width: 100px;
}
