/* line 1, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
body {
  background-color: #fafafa;
  font-family: helvetica;
}

/* line 5, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
ul, ol {
  list-style: none;
}

/* line 8, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
a {
  text-decoration: none;
  font-weight: bold;
}

/* line 13, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
header {
  background-color: #d0d0d0;
  border: 1px black solid;
  width: 800px;
  margin: 0 auto;
  height: 80px;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 22, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
header h1 {
  width: 400px;
  float: left;
}
/* line 26, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
header nav {
  width: 80px;
  float: right;
  display: inline;
}

/* line 31, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
#sidebar {
  background-color: white;
  border: 1px black solid;
  width: 200px;
  float: left;
}

/* line 37, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
#maincontent {
  margin: 0 auto 0;
  padding: 10px;
  width: 600px;
  border: 1px black solid;
  background-color: white;
}

/* line 44, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
tr {
  border-bottom: 1px gray solid;
}

/* line 46, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
td {
  width: 100px;
}

/* line 49, /Users/pmu/projects/frontend/rails-api-backbone/source/sass/main.css.sass */
#loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
