body
  background-color: #fafafa
  font-family: helvetica

ul,ol
  list-style: none

a
  text-decoration: none
  font-weight: bold


header
  background-color: #d0d0d0
  border: 1px black solid
  width: 800px
  margin: 0 auto
  height: 80px
  padding: 10px
  margin-bottom: 20px

  h1
    width: 400px
    float: left

  nav
    width: 80px
    float: right
    display: inline

#sidebar
  background-color: white
  border: 1px black solid
  width: 200px
  float: left

#maincontent
  margin: 0 auto 0
  padding: 10px
  width: 600px
  border: 1px black solid
  background-color: white

tr
  border-bottom: 1px gray solid
td
  width: 100px





